@import "../util/backend.scss";

.eb-image-comparison-placeholder {
	display: flex;
	flex-direction: row;
	justify-content: center;
  }
  
  .eb-image-comparison-upload {
	height: 200px;
	width: 200px;
	margin-right: 10px;
	background: #e3e3e3 !important;
	display: inline !important;
  }
  
  .eb-image-comparison-image {
	object-fit: cover;
	width: 100%;
  }