.eb-image-comparison-placeholder {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.eb-image-comparison-upload {
	height: 200px;
	width: 200px;
	margin-right: 10px;
	background: #e3e3e3 !important;
	display: inline !important;
}

.eb-image-comparison-image {
	object-fit: cover;
	width: 100%;
}

.twentytwenty-handle {
	&:after {
		display: none !important;
	}
	&:before {
		display: none !important;
	}

	.handle-before,
	.handle-after {
		position: absolute;
		left: 50%;
		bottom: 100%;
		// width: 3px;
		content: "";
		height: 500px;
		// background: red;
		// margin-left: -1.5px;
	}

	.handle-after {
		bottom: auto;
		top: 100%;
	}
}
